.master {
	display: flex;
	flex-direction: column;
	width: 95%;
	background-color: whitesmoke;
	height: fit-content;
	border-radius: 10px;
}

.title h1 {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	margin-top: 30px;
	margin-left: 30px;
	color: white;
	transition: 0.4s;
	color: #fe4880;
}
.title h1:hover {
	scale: 102%;
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
	background-color: aquamarine;
	align-self: center;
}

.search-form {
	margin-top: 30px;
	margin-bottom: 30px;
}

.search-1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.input-destination {
	height: 30px;
	width: 400px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	font-size: 16px;
	border-radius: 8px;
}

.search-input {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
}

.search-input h3 {
	transition: 0.4s;
}

.search-input:focus-within h3 {
	color: #fe4880;
}

.date-range {
	height: 30px;
	width: 200px;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	font-size: 16px;
	border-radius: 8px;
}

.search-2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.options {
	margin-left: 5px;
	margin-right: 15px;
	height: 30px;
	width: 60px;
	font-size: 16px;
}

.items {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

.deez {
	height: 400px;
	width: 400px;
}
