.register-form {
	display: block;
	width: max-content;
	position: relative;
}
.register-form:after {
	content: "";
	display: block;
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index: 0;
	background-image: linear-gradient(to bottom right, #ffce00, #dd5944);
}

.register-form .form-inner {
	position: relative;
	display: block;
	background-color: azure;
	padding: 50px;
	z-index: 1;
}

.register-form .form-inner h2 {
	color: #fe4880;
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 30px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.login-form .form-inner .from-group {
	display: block;
	width: 300px;
	margin-bottom: 15px;
}

.register-form .form-inner .form-group label {
	display: flex;
	color: #000;
	font-size: 18px;
	margin-bottom: 1px;
	margin-left: 8px;
	transition: 0.4s;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.register-form .form-inner .form-group input {
	display: block;
	width: 100%;
	padding: 10px 15px;
	background-color: white;
	margin-bottom: 10px;
	border-radius: 8px;
	transition: 0.4s;
}

.form-inner .form-group:focus-within label {
	color: #dd5944;
}

.register-form .form-inner .form-group input:focus {
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	scale: 102%;
	border-color: linear-gradient(to right, #ffce00, #ffce00, #dd5944);
}

.register-form .form-inner .details {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.register-form .form-inner .login-particulars {
	margin-left: 50px;
}

.register-form .form-inner .register-title {
	color: #fe4880;
}
.register-button {
	display: inline-block;
	padding: 8px 15px;
	border-radius: 8px;
	background-image: linear-gradient(to right, #ffce00, #ffce00, #fe4880);
	background-size: 200%;
	background-position: 0%;
	color: #fff;
	transition: 0.4s;
	font-weight: 700;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 40px;
}

.register-button:hover {
	background-position: 100% 0%;
}
