form {
	display: block;
	width: fit-content;
	position: relative;
}

form:after {
	content: "";
	display: block;
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index: 0;
	background-image: linear-gradient(to bottom right, #ffce00, #fe4880);
}

form .form-inner {
	position: relative;
	background-color: #fff;
	padding: 50px;
	z-index: 1;
}

form .form-inner h2 {
	color: #000;
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 30px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.form-inner .form-group label {
	display: flex;
	color: #000;
	font-size: 18px;
	margin-bottom: 2px;
	align-items: center;
	justify-content: center;
	transition: 0.4s;
}

.form-inner .form-group:focus-within label {
	color: #fe4880;
}

form .form-inner .form-group input {
	display: flex;
	width: 100%;
	padding: 10px 15px;
	background-color: whitesmoke;
	margin-bottom: 10px;
	border-radius: 8px;
	border-width: 1px;
	transition: 0.4s;
}

form .form-inner .form-group input:focus {
	/* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    scale:105%; */
	border-bottom: #000;
	border-color: linear-gradient(to right, #ffce00, #ffce00, #fe4880);
}

form .form-inner input[type="submit"],
.welcome button {
	display: inline-block;
	padding: 8px 15px;
	border-radius: 8px;
	background-image: linear-gradient(to right, #ffce00, #ffce00, #fe4880);
	background-size: 200%;
	background-position: 0%;
	transition: 0.4s;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
}

form .form-inner input[type="submit"]:hover,
.welcome button:hover {
	background-position: 100% 0%;
}
