* {
  margin: 0; 
  padding: 0; 
}

.App{
  background-image: url(https://www.thecarnegiehotel.com/assets/images/home/newyork_city.jpg);
  background-position: center;
  background-size: 100%;
  height: 100vh;
}

.content{
  display: flex; 
  align-items: center;
  justify-content:center;
}

.home-component{
  display: block; 
  align-items: center;
  justify-content:center;
}

.login-component{
  display: block; 
  align-items: center;
  justify-content:center;
}

.hello{
  text-decoration: none;
  display: block; 
  align-items: center;
  justify-content:center;
}

Switch{
  align-items: center;
  display: center;
}
